<% title "Proyect" %>

<p>
  <strong>Name:</strong>
  <%= @proyect.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @proyect.description %>
</p>

<p>
  <%= link_to "Edit", edit_proyect_path(@proyect) %> |
  <%= link_to "Destroy", @proyect, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", proyects_path %>
</p>


<%= render :partial => "comments/new",:locals => { :commentable => @proyect }%><br/>
<h1>Comments</h1><br/>
<div id="comments">
  <div class="comments_out">
    <div class="comments_middle">
<%= render @comments %>
  </div>
</div>
</div>